<footer id="eb-footer">
  <div class="section-content container-fluid">
    <div class="mx-4 flex justify-between py-8">
      <small class="text-white">&copy;
        {{"now"|date('Y')}}
        Enrico Beyer</small>

      <ul class="flex">
        <li>
          <a href="#" class="text-white text-12">Legal Notice</a>
        </li>
        <span class="text-white mx-2">|</span>
        <li>
          <a href="#" class="text-white text-12">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="section-background"></div>
</footer>