<nav id="eb-primary-navigation" class="absolute inset-x-0 z-20">
  <div class="container-fluid flex justify-between py-8">
    <a href="#">
      <img src="/app/themes/theme/dist/images/logo.svg" alt="">
    </a>
    <ul class="flex">
      {% for item in primary.get_items %}
        <li class="{{ item.classes | join(' ') }} text-white ml-8">
          <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>