{% extends "_base.twig" %}

{% block content %}

  {% include 'partials/modules.twig' with {
    'modules' : post.get_field('modules')
  } %}

  {% if post.content %}
    <div class="container">
      {{ post.content }}
    </div>
  {% endif %}
{% endblock %}