@font-face {
  font-family: Rockwell;
  font-display: auto;
  src: url("/app/themes/theme/resources/assets/fonts/Rockwell-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rockwell;
  font-display: auto;
  src: url("/app/themes/theme/resources/assets/fonts/Rockwell-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

$global-transition: all 300ms ease-in-out;
