<section id="eb-hero" class="h-screen relative flex items-center">
  <div class="section-content container">
    <small class="block text-16 text-gray-700 mb-6">Start</small>
    <h1 class="text-white mb-6">
      Hi, my name is
      <span class="font-bold">Enrico Beyer</span>,<br/>
      I am a
      <span class="font-bold">Frontend Developer</span>.<br/>
      Currently working for<br/>
      Friendventure, Cologne
    </h1>
    <div class="w-full flex">
      <a href="#" class="inline-block mr-16">
        <img src="/app/themes/theme/dist/images/github_mark.svg" alt="">
      </a>
      <a href="#" class="inline-block">
        <img src="/app/themes/theme/dist/images/xing_mark.svg" alt="">
      </a>
    </div>
  </div>
  <div class="section-background">
    <div class="absolute h-full w-full bg-blue-transparent z-10"></div>
    <img src="/app/themes/theme/dist/images/bg_hero.jpg" class="absolute h-full w-full object-cover bg-fixed" alt="">
  </div>
</section>