<section id="eb-wysiwyg">
  <div class="section-content container py-20">
    <small class="block text-16 text-gray-700 mb-6">About</small>
    <div class="editor-content text-white">
      <h3>General Information</h3>
      <p>Name: Enrico Beyer</p>
      <p>
        <a href="mailto:info@beyerenrico.de">info@beyerenrico.de</a>
      </p>

      <h3>Work</h3>
      <ul>
        <li>2018-now: Frontend Developer at Friendventure GmbH</li>
        <li>2017-2018: Frontend Developer at Rubivision GmbH</li>
        <li>2014-now: Self-taught Webdeveloper</li>
      </ul>

      <h3>Education</h3>
      <ul>
        <li>2019-now: FOM College Cologne, B.Sc. Business Informatics</li>
        <li>2015-2018: Adolf-Kolping Vocational College, Vocational Baccalaureate Diploma</li>
      </ul>

      <h3>Knowledge</h3>
      <ul>
        <li>HTML5.1/CSS3/JS</li>
        <li>jQuery</li>
        <li>Bootstrap/Foundation/Tailwind</li>
        <li>Webpack/Gulp</li>
        <li>SASS</li>
        <li>npm/yarn/bower</li>
        <li>GIT</li>
        <li>PHP</li>
        <li>Twig</li>
        <li>MySQL</li>
        <li>Wordpress</li>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li>Adobe XD</li>
      </ul>
    </div>
  </div>
  <div class="section-background"></div>
</section>