<section id="eb-wysiwyg">
  <div class="section-content container py-20">
    {% if module.timeline %}
      <div class="timeline{% if module.timelineLast %} last{% endif %}"></div>
    {% endif %}
    {% if module.title %}
      <small class="block text-16 text-gray-700 mb-6">{{ module.title }}</small>
    {% endif %}
    <div class="editor-content text-white">
      {{ module.editor }}
    </div>
  </div>
  <div class="section-background"></div>
</section>