/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0b2634;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #061a25;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(#061a25, 0.9);
}
