.timeline {
  position: absolute;
  top: 0;
  left: 1em;
  height: 350%;
  width: 1px;
  background-color: #009cf0;

  @screen sm {
    left: -0.7em;
  }

  @screen xl {
    left: -1.7em;
  }

  &.last {
    height: 5em;
  }
}
