#eb-image-text {
  .section {
    &-content {
      a.button {
        border: 2px solid #fff;

        @include hover {
          @apply text-white;
          background-color: #009cf0;
          border-color: #009cf0;
        }
      }

      a.icon {
        @include hover {
          svg {
            path {
              fill: #009cf0;
            }
          }
        }
      }
    }

    &-background {
      background-color: #0a2634;

      h2 {
        right: 39px;
        font-size: 9.125em !important;
        color: #0e405c;
        transform-origin: right;
      }
    }
  }
}
